<html lang="en">
<div class="container">
  <nav class="navbar">
    <%= link_to("Home Page", "/") %>
    <%= link_to("Pet Index", "/pets") %>
    <%= link_to("Shelter Index", "/shelters") %>
  </nav>
</div>
